body{
    background: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

h3{
    margin: 5px 0;
}

#wrapper
{
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 960px;
}

header {
    background: #5b7989;
    color: white;
    text-shadow: 2px 2px 2px #02010a;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.titulo {
    /*float: left;*/
    display: block;
    padding: 10px 10px;
    height: 100%;
    text-align: center;
}

nav{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}


nav a{
    color: white;
    font-style: normal;
    text-shadow: 0 0;
    padding: 0 5px;
}

nav a.active{
    text-decoration: none;
}

figure{
    margin: 0;
}

.column1{
    width: 100%;
    background: #82c3a6;
}

img{
    display: block;
    margin: 0 auto;

}
.column1 img{
    width: 90%;
    padding: 20px 0;
}

.container2{
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background: #d5c75f;
}

.column2{
    width: 100%;
    padding: 20px 0;
}


.column2 img{
    width: 80%;
}

@-webkit-keyframes imagen2-rotation {
    0%{
        transform: rotate(0deg);
        transition: rotate;
        -webkit-transition: rotate; /*Chrome - Safari*/
        -moz-transition: rotate; /*Mozilla*/;
        box-shadow: 2px 2px 10px #82c3a6;
    }

    50%{
    transform: rotate(10deg);
        transition: rotate;
        -webkit-transition: rotate; /*Chrome - Safari*/
        -moz-transition: rotate; /*Mozilla*/
        box-shadow: 2px 2px 10px #82c3a6;
    }
}

.column2 img:hover{
    animation-name: imagen2-rotation;
    animation-duration: 600ms;
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -o-animation-delay: 600ms;
    animation-delay: 600ms;
}

.column3{
    width: 100%;
    padding: 20px 0;
}

.column3 img {
    width: 80%;
}

@-webkit-keyframes imagen3-traslation {
    0%{
        transform: translate(0, 0);
        transition: translate;
        -webkit-transition: translate; /*Chrome - Safari*/
        -moz-transition: translate; /*Mozilla*/;
        box-shadow: 2px 2px 10px #82c3a6;
    }

    50%{
        transform: translate(20px, -5px);
        transition: translate;
        -webkit-transition: translate; /*Chrome - Safari*/
        -moz-transition: translate; /*Mozilla*/;
        box-shadow: 2px 2px 10px #82c3a6;
    }
}

.column3 img:hover{
    animation-name: imagen3-traslation;
    animation-duration: 700ms;
    -webkit-animation-delay: 700ms;
    -moz-animation-delay: 700ms;
    -o-animation-delay: 700ms;
    animation-delay: 700ms;
}

footer{
    clear: both;
    text-align: justify;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: #C6d5c5;
    padding: 20px 10px;
    display: flex;
    flex-flow: row wrap;
}

footer div{
    margin: 5px 15px;
    width: 100%;
}

footer div a{
    text-decoration: none;
    padding: 0 0 5px 0;
    display: block;
}

@media all and (max-width: 900px) and (min-width: 700px) {
    .column1 img{
        width: 50%;
    }

    .column2{
        width: 50%;
        padding: 20px 0;
    }

    .column3{
        width: 50%;
        padding: 20px 0;
    }

    footer div{
        width: 45%;
    }

    #social{
        width: 100%;
    }
}

@media all and (min-width: 900px) {
    .column1 img{
        width: 43%;
    }

    .column2{
        width: 50%;
        padding: 20px 0;
    }

    .column3{
        width: 50%;
        padding: 20px 0;
    }

    footer div{
        width: 30%;
    }
}

